/*
    analytics.css
    styling for analytics.html
*/

html,
body {
    background-color: var(--secondary-color);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "chartType chart chart"
        "chartSubject chart chart";
}

.chart,
.chartType,
.chartSubject {
    margin: 40px;
    /* display: inline-flex; */
    /* justify-content: center;
  align-content: center;
  align-items: center; */
}

.chart {
    grid-area: chart;
    padding: 20px;
}

.chartType {
    grid-area: chartType;
}

/* .chartSubject { */
/* grid-area: chartSubject; */
/* flex-wrap: wrap;
  overflow: auto; */
/* }  */

button {
    background-color: var(--primary-color);
    /* border: 2px solid #095ea3; */
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 1;
    color: var(--secondary-color);
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}

button:hover {
    background-color: #87b0d1;
    color: var(--secondary-color);
}

button:focus {
    background-color: #155f9b;
    color: black;
}
