/*
    main.css
    Major CSS elements. Standard across all stylesheets.
*/
:root {
    --primary-color: #145d99;
    --secondary-color: #eaeaea;
    --tertiary-color: #145d99; /* Currently only applied to navigation elements. */
}

html {
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*,
*:after,
*:before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
}

p,
li {
    margin-bottom: 0.5em;
}

p {
    text-align: left;
}

label,
strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #26a69a;
    white-space: nowrap;
}

a:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

header,
main,
footer {
    display: block;
    width: 100%;
}

main {
    height: 100%;
    display: grid;
}

main.withHeader,
main.withFooter {
    height: 94%;
}

main.withHeaderAndFooter {
    height: 89%;
}

select {
    padding: 0.5em 1em;
    margin: 0 0.5em 0.5em 0;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
}
select:hover {
    cursor: pointer;
}

/*** buttons ***/

.btn,
button,
[type="button"],
[type="submit"] {
    padding: 0.5em 1em;
    margin: 0 0.5em 0.5em 0;
    display: inline-block;
    background-color: #26a69a;
    color: var(--secondary-color);
}

.btn:hover,
button:hover,
[type="button"]:hover,
[type="submit"]:hover {
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: black;
    cursor: pointer;
    box-shadow: 0 0 10px #666;
}

.btn.small,
table .btn {
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}

.btn.large {
    padding: 1em 2em;
    font-size: 1.2em;
}

.btn.oval,
button.oval {
    border-radius: 50%;
}

/* Full-width input fields */

input {
    -webkit-appearance: textfield;
    background-color: #b7b2b2;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 0.3vw;
    border-width: 1px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    min-width: 150px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table,
tbody,
tr,
td {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
}

/* Tooltip that may be added to almost any element */
/*** tooltips from http://codepen.io/trezy/pen/Khnzy, modifed ***/

[data-tooltip] {
    position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
    display: none;
    position: fixed;
}

[data-tooltip]:before {
    content: "";
    position: fixed;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #ee6e73 transparent transparent transparent;
    z-index: 1;
}

[data-tooltip]:after {
    content: attr(data-tooltip-message);
    position: fixed;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: #ee6e73;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
}

[data-tooltip-position="left"]:before {
    left: 0%;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg);
}

[data-tooltip-position="top"]::before {
    left: 50%;
}

[data-tooltip-position="bottom"]::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}

[data-tooltip-position="right"]::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translatey(-50%) rotate(90deg);
}

[data-tooltip-position="left"]::after {
    left: 0%;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
}

[data-tooltip-position="top"]::after {
    left: 50%;
}

[data-tooltip-position="bottom"]::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[data-tooltip-position="right"]::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    display: block;
}

/*** topnav Top Navigation Bar
  /* Add a black background color to the top navigation */

header,
footer {
    height: 5.5%;
}

.topnavLogo {
    width: auto;
    height: 90%;
    align-content: center;
    align-self: auto;
    overflow: hidden;
    left: 0;
    float: left;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

.topnav {
    width: 100%;
    height: 100%;
    padding-top: 0.3em;
    /* background-color: Black; */
    background-color: var(--tertiary-color);
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav #rightEdge {
    float: right;
    height: 200px;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 0.1em;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 3vh;
    margin-right: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.topnav #rightEdge.active {
    float: right;
    height: 200px;
    text-align: center;
    margin-top: 0.1em;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 3vh;
    margin-right: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-border-radius: 1vh 1vh 0px 0px;
    border-radius: 1vh 1vh 0px 0px;
    /* background-color: var(--primary-color);
  color: black; */
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.topnav #right {
    float: right;
    height: 200px;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 0.1em;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 3vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.topnav #right.active {
    float: right;
    height: 200px;
    text-align: center;
    margin-top: 0.1em;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 3vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-border-radius: 1vh 1vh 0px 0px;
    border-radius: 1vh 1vh 0px 0px;
    /* background-color: var(--primary-color);
  color: black; */
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.topnav a {
    float: left;
    color: var(--secondary-color);
    height: 200px;
    text-align: center;
    margin-top: 0.1em;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 3vh;
    padding-left: 0.7vh;
    padding-right: 0.7vh;
}

/* Change the color of links on hover */

.topnav a:hover {
    -moz-border-radius: 1vh 1vh 0px 0px;
    border-radius: 1vh 1vh 0px 0px;
    /* background-color: red; */
    /* background-color: var(--primary-color); */
    /* border: 2px solid var(--primary-color); */
    background-color: #87b0d1;
    color: var(--secondary-color);
}

/* Add an active class to highlight the current page */

.topnav a.active {
    -moz-border-radius: 1vh 1vh 0px 0px;
    border-radius: 1vh 1vh 0px 0px;
    /* background-color: var(--primary-color);
  color: black; */
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

.topnav i.fa-bars {
    font-size: 3vh;
}

/*** Modal Styling ***/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    /*max-width: 80%;
      max-height: 80%;*/
    overflow: auto;
    height: 80%;
    width: 80%;
}

.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

/*** Pagination Styling ***/

.tab {
    display: none;
}

.indicator {
    display: none;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #808080;
    border-radius: 5px;
    color: #202020;
}
.indicator.active {
    background-color: #001f3f;
    color: var(--secondary-color);
}
.indicator:hover {
    background-color: var(--secondary-color);
    color: #202020;
}

/*** Color Definitions ***/

/*** colors from http://clrs.cc/ ***/

.navy {
    background-color: #001f3f;
    color: var(--secondary-color);
}

.blue {
    background-color: #0074d9;
    color: var(--secondary-color);
}

.aqua {
    background-color: #7fdbff;
    color: #111111;
}

.teal {
    background-color: #39cccc;
    color: var(--secondary-color);
}

.olive {
    background-color: #3d9970;
    color: var(--secondary-color);
}

.green {
    background-color: #2ecc40;
    color: var(--secondary-color);
}

.aquamarine {
    background-color: #26a69a;
    color: var(--secondary-color);
}

.lime {
    background-color: #01ff70;
    color: #111111;
}

.yellow {
    background-color: #ffdc00;
    color: #111111;
}

.orange {
    background-color: #ff851b;
    color: var(--secondary-color);
}

.red {
    background-color: #cc1f00;
    color: var(--secondary-color);
}

.fuchsia {
    background-color: #f012be;
    color: var(--secondary-color);
}

.pink {
    background-color: #ee6e73;
    color: var(--secondary-color);
}

.purple {
    background-color: #b10dc9;
    color: var(--secondary-color);
}

.maroon {
    background-color: #85144b;
    color: var(--secondary-color);
}

.white {
    background-color: #fff;
    color: #111111;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow: inset 0px 0px 0px 1px #ddd;
    box-shadow: inset 0px 0px 0px 1px #ddd;
}

.gray {
    background-color: #aaa;
    color: var(--secondary-color);
}

.silver {
    background-color: #f1f1f1;
    color: #111111;
}

.black {
    background-color: #111111;
    color: var(--secondary-color);
}

.glass {
    background: rgba(255, 255, 255, 0.5);
    color: #111111;
}

.clear {
    background: #ffffff00;
    color: #111111;
}

/*** helpers ***/

.rounded {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.padded {
    padding: 10px 20px;
}

.center {
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.center > div {
    text-align: center;
    font-size: 6vh;
}

.right {
    right: 0;
    text-align: right;
}

.middle div {
    vertical-align: middle;
}

.bottom div {
    vertical-align: bottom;
}

.xscroll {
    overflow-x: scroll !important;
}

.yscroll {
    overflow-y: scroll !important;
}

.nowrap {
    white-space: nowrap;
    overflow-x: hidden;
}

.fill {
    width: 100%;
}

.lifted {
    box-shadow: 5px 5px 10px #666;
}

.relative {
    position: relative;
}

.relative > div {
    position: absolute;
}

.spaced {
    margin-bottom: 20px;
    margin-top: 20px;
}

.hidden {
    display: none !important;
}

/*** Resize h*'s depending on screen width ***/
@media all and (max-width: 599px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.4em;
    }
    h5 {
        font-size: 1.2em;
    }
    h6 {
        font-size: 1em;
    }
}

/*** Animation Primarily for Modal ***/
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/*** Responsive TopNav Bar ***/
@media screen and (max-width: 600px) {
    .topnav a:not(.active) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    main {
        overflow: auto;
    }

    .indicator {
        padding: 3px 6px;
        margin: 2px;
    }
    /*** Convert topnav from fixed height to Auto ***/
    .topnav.responsive {
        position: relative;
        height: auto;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0px;
    }
    .topnav.responsive a.active {
        -moz-border-radius: 1vh;
        border-radius: 1vh;
    }
    .topnav.responsive a:hover {
        -moz-border-radius: 1vh;
        border-radius: 1vh;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-bottom: 1vh;
    }
}
